@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This was a project for a Summer 2016 C# course. There are obvious improvements that could (and might someday) be made, but for now just appreciate that this was the work of a student for a grade. A student who might enjoy competitive Pokemon a bit.</p>
